.home{
    overflow: hidden;
    .about{
        padding: 50px 0 100px 0;
        background-color: #eeeeee;
        .image{
            position: relative;
            display: block;
            width: 100%;
            max-width: 401px;
            height: auto;
            min-height: 401px;
            border: 3px solid $purple-dark;
            margin: 0 auto;
            img{
                display: block;
                width: 100%;
                max-width: 401px;
                z-index: 1;
                position: absolute;
                top: 13%;
                left: 13%;
            }
            @include mq(mobile, max){
                max-width: 280px;
                min-height: 280px;
            }
        }
        .icon{
            position: absolute;
            right: 63%;
            top: 5%;
            font-size: 3em;
            color: purple;
            z-index: 2;
            @include mq(desktop, max){
                right: 65%;
            }
            @include mq(tablet, max){
                right: 60%;
            }
            @include mq(mobile, max){
                right: 67%;
                font-size: 2.5em;
                top: 4%;
            }
            @include mq(small-mobile, max){
                right: 61%;
            }
        }
        .description{
            padding: 0 30px;
            margin-top: 100px;
            h2{
                margin-left: 25px;
                &:after{
                    left: -6%;
                }
                @include mq(desktop, max){
                    &:after{
                        top: 34px;
                    }
                }
            }
            .icon{
                position: absolute;
                top: 0;
                right: 10%;
                font-size: 20em;
                color: rgba(gray, 0.2);
                @include mq(desktop, max){
                    top: 5%;
                }
                @include mq(mobile, max){
                    right: 0;
                }
            }
            @include mq(mobile, max){
                padding: 30px 20px;
                margin-top: 50px;
            }
        }
        .dowloand{
            @include mq(tablet, max){
                margin: 0 auto;
                text-align: center;
                display: block;
            }
        }
        @include mq(tablet, max){
            padding: 100px 0;
        }
    }
}